<h1>welcome to angular_12</h1>
<nav>
  <ul>
    <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/templateForm" routerLinkActive="active" ariaCurrentWhenActive="page">form component</a></li>
    <li><a routerLink="/reactiveForm" routerLinkActive="active" ariaCurrentWhenActive="page">reactive form component</a></li>
    <li><a routerLink="/getData" routerLinkActive="active" ariaCurrentWhenActive="page">Get data component</a></li>
    <li><a routerLink="/postData" routerLinkActive="active" ariaCurrentWhenActive="page">post data component</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
