.border-custom{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px orange;
  width: 600px;
  margin: auto;
}
.table, td, th{
  border-collapse: collapse;
  border: 1px solid #000;
  text-transform: capitalize;
  min-width: 100px;
  text-align: right;
  padding: 5px;
}
.red{
  color: red;
}
